body {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: #202124;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #70757a;
    
    line-height: 19px;
    
}

li:first-letter {
    text-transform: capitalize;
}


a:link {
    text-decoration: none;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}

.overwiev {
    margin-bottom: 15px;
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: 4px
    ;
}

.overwiev {
    font-size: 16px;
}

.weather-temperature .units .active{
    color: #202124;
    cursor: default;

}

.weather-temperature.units.active:hover {
    text-decoration: none;

}

.weather-details {
font-size: 12px;
}

#temperature {
font-size: 64px;
font-weight: 400;
line-height: 1;

}
#icon {
    margin-right: 10px;
    height: 64px;
}


.weather-forecast {
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
   
}


.forecast-weekday {
font-size: 15px;
color: #202124;

}

.forecast-temp-max {
    font-size: 13px;
    color: #202124;
    padding-right: 5px;
}

.forecast-temp-min {
    font-size: 13px;
    color: #70757a;
}